$font-url: "https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap";
:root {
  --tx-heading-font: "Syne", sans-serif;
  --tx-body-font: "Plus Jakarta Sans", sans-serif;
}
