@use "../../utils" as *;

.tx-core {
  &-box {
    background: var(--tx-white);
    padding: 3rem;
    border-radius: var(--tx-border-radius);
    position: relative;
    height: 100%;
    z-index: 1;
    @media #{$xs} {
      padding: 2rem;
    }
    &-number {
      & cite {
        background: #14212b;
        height: 40px;
        width: 40px;
        display: block;
        line-height: 40px;
        font-style: normal;
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        position: absolute;
        right: -15px;
        top: 0;
        font-weight: 600;
        @include transition(0.3s);
      }
    }
    &-arow {
      & img {
        position: absolute;
        right: -120px;
        top: 50%;
        transform: translateY(-50%);
      }
      & .arow-active {
        opacity: 0;
        @include transition(0.3s);
      }
    }
    &:hover {
      .tx-core {
        &-box {
          &-icon-3 {
            &-number {
              & cite {
                background: var(--tx-primary);
                @include transition(0.3s);
              }
            }
            & span {
              transform: rotateY(180deg);
              @include transition(0.3s);
            }
          }
          &-3-arow {
            & .arow-active {
              opacity: 1;
              @include transition(0.3s);
            }
          }
        }
      }
    }
    &-number {
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50px;
      background: var(--tx-gradient-1);
      font-size: 20px;
      color: #fff;
      position: absolute;
      left: -20px;
      top: -20px;
      &:after {
        position: absolute;
        content: "";
        height: 60px;
        width: 60px;
        background: #050c36;
        z-index: -1;
        left: -5px;
        top: -5px;
        line-height: 60px;
        border-radius: 50px;
      }
    }
    &-icon {
      position: relative;
      z-index: 1;
      display: inline-block;
      &::after {
        position: absolute;
        content: "";
        left: -0.75rem;
        top: calc(-0.75rem - 1px);
        height: 7rem;
        width: 7rem;
        background: transparent;
        z-index: -1;
        border-radius: 7rem;
        border: 1px solid #f4f5fd;
        line-height: 7rem;
      }
      & span {
        background: #f4f5fd;
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 5.5rem;
        line-height: 5.5rem;
        text-align: center;
        display: inline-block;
        transition: 0.3s;
      }
      &-number {
        & cite {
          background: #14212b;
          height: 40px;
          width: 40px;
          display: block;
          line-height: 40px;
          font-style: normal;
          border-radius: 50%;
          color: #fff;
          font-size: 18px;
          position: absolute;
          right: -32px;
          top: 0;
          font-weight: 600;
          @include transition(0.3s);
        }
      }
      &-3 {
        & span {
          height: 100px;
          width: 100px;
          line-height: 100px;
          background: #f4f5fd;
          @include transition(0.3s);
        }
        &::after {
          height: 120px;
          width: 120px;
          border: 3px solid #f4f5fd;
          left: -10px;
          top: -10px;
          border-radius: 50%;
        }
        &-number {
          & cite {
            background: #14212b;
            height: 40px;
            width: 40px;
            display: block;
            line-height: 40px;
            font-style: normal;
            border-radius: 50%;
            color: #fff;
            font-size: 18px;
            position: absolute;
            right: -15px;
            top: 0;
            font-weight: 600;
            @include transition(0.3s);
          }
        }
      }
    }
    &-title {
      font-size: 20px;
      line-height: 20px;
      margin: 0;
      transition: 0.3s;
      color: #14212b;
      &.title4 {
        color: #fff;
      }
    }
    & p {
      opacity: 0.8;
      margin: 0;
    }
    &-3 {
      background: inherit;
      margin-left: 0;
      padding: 0;
      position: relative;
      z-index: 1;
      & p {
        color: var(--tx-text-5);
        opacity: 1;
      }
      &-arow {
        & img {
          position: absolute;
          right: -120px;
          top: 50%;
          transform: translateY(-50%);
        }
        & .arow-active {
          opacity: 0;
          @include transition(0.3s);
        }
      }
      &:hover {
        .tx-core {
          &-box {
            &-icon-3 {
              &-number {
                & cite {
                  background: var(--tx-primary);
                  @include transition(0.3s);
                }
              }
              & span {
                transform: rotateY(180deg);
                @include transition(0.3s);
              }
            }
            &-3-arow {
              & .arow-active {
                opacity: 1;
                @include transition(0.3s);
              }
            }
          }
        }
      }
    }
    &-iner {
      & .tx-core-box-desc p {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: var(--tx-text-1);
      }
      &:hover {
        .tx-core-box-icon-3-number cite {
          background: #5038c9;
        }
        .tx-core-box-title {
          color: #5038c3;
        }
        .tx-core-box-icon-3 {
          & span {
            background: #5038c9;
            @include transition(0.3s);
            & img {
              filter: brightness(0) invert(1);
              @include transition(0.3s);
            }
          }
        }
      }
    }
    &:hover {
      & .tx-core-box {
        &-icon span {
          transform: rotateY(180deg);
          transition: 0.3s;
        }
        &-title {
          color: var(--tx-primary);
          &.title4 {
            color: #fff;
          }
        }
      }
    }
  }
}
