@use "../../utils" as *;

.tx-testimonial .owl-carousel .owl-item img {
  width: auto;
}

.tx-shpate {
  &-testimonial img {
    position: absolute;
    right: 0;
  }
}

.tx-testimonial {
  &-wrapper {
    margin-top: -12rem;
    @media #{$lg,$md,$xs} {
      margin-top: 3rem;
    }
    @media #{$xl, $xxl, $xxxl} {
      margin-top: -6rem;
    }
  }
  &-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-2 {
      background: var(--tx-gradient-2);
    }
  }

  &-box {
    background: var(--tx-white);
    padding: 32px 24px;

    &-icon a {
      background: #343343;
      display: inline-block;
      height: 28px;
      width: 28px;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      color: #ffba00;
      margin-right: 4px;
    }

    &-content {
      & p {
        margin: 0;
        font-size: 1.25em;
        opacity: 0.8;
        font-weight: 600;

        @media #{$md,$xs} {
          br {
            display: none;
          }
        }
      }
    }

    &-auth {
      @include flexbox();
      align-items: center;

      &-content {
        & span {
          color: var(--tx-gray-600);
          line-height: 1;
          margin: 0;
        }
      }

      &-img {
        & img {
          height: 70px;
          width: 70px;
          border-radius: 50px;
          margin-right: 1rem;
        }
      }

      &-title {
        font-size: 1.25em;
        line-height: 1;
        margin: 0;
        color: var(--tx-heading-color);
      }

      &-3 {
        justify-content: center;
      }
    }

    &-quote {
      position: absolute;
      right: 0;
    }

    &-3 {
      background: inherit;
      padding: 0;
    }

    &-4 {
      background: #fff;

      & .tx-testimonial {
        &-box {
          &-content {
            & p {
              color: #111112;
              opacity: 0.8;
            }
          }

          &-auth {
            &-title {
              color: #111112;
            }

            &-content span {
              color: #5f6168;
            }
          }

          &-icon a {
            color: #5745d4;
            background: #f5f3fa;
          }
        }
      }
    }

    &-5 {
      margin-left: 30px;
    }
  }

  &-active {
    & .slick-dots {
      bottom: -38px;

      & .slick-active {
        button {
          background: var(--tx-gradient-1);
          height: 12px;
          width: 12px;
          z-index: 1;
          position: relative;

          &:after {
            position: absolute;
            content: "";
            left: -4px;
            top: -4px;
            height: 20px;
            width: 20px;
            background: transparent;
            border-radius: 50px;
            border: 1px solid #9f2df4;
          }
        }
      }

      li {
        button {
          background: #292f53;
          height: 12px;
          width: 12px;
          border-radius: 50px;
          display: inline-block;

          &::before {
            font-size: 0;
          }
        }
      }
    }

    &-3 .slick-list {
      overflow: inherit;

      @media #{$md,$xs} {
        overflow: hidden;
      }
    }
  }

  &-2 {
    .desc-4 {
      color: #fff;
      opacity: 0.8;
      font-size: 18px;
      line-height: 26px;
      margin: 0;
    }
  }

  &-3 {
    &-bg {
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      padding: 40px;
      padding-left: 32px;
      padding-right: 32px;
      transform: scale(0.8);
      @include transition(0.3s);

      &.slick-active {
        transform: scale(1);
        @include transition(0.3s);
      }
    }

    &-icon {
      & a {
        border-radius: 4px;
        background: rgba(255, 186, 0, 0.1);
        height: 24px;
        width: 24px;
        line-height: 24px;
        text-align: center;
        margin-right: 2px;
        display: inline-block;
        color: #ffba00;
        margin: 0;
      }
    }

    &-desc {
      & p {
        margin: 0;
        font-size: 20px;
        line-height: 32px;
        color: #fff;
        opacity: 0.8;
      }
    }

    &-auth {
      &-content {
        & span {
          font-size: 16px;
          line-height: 16px;
          font-weight: 500;
          color: #fff;
          opacity: 0.9;
          margin: 0;
        }

        &-title {
          color: #fff;
          font-size: 20px;
          line-height: 20px;
          font-weight: 700;
          margin: 0;
        }
      }

      &-brand {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-img {
      @media #{$md,$xs} {
        margin-bottom: 30px;
      }
    }
  }
}

.tx-testimonial {
  &-box {
    &-icon-2 a {
      background: #f5ece5 !important;
      color: #ff8c04 !important;
      font-size: 16px;
    }

    &-inner {
      margin-right: 0;

      @media #{$md,$xs} {
        padding: 15px;
      }
    }

    &-auth-content span.degsination {
      font-size: 16px;
      line-height: 16px;
      color: #5f6168;
    }
  }
}

.testiarrow-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;

  @media #{$md,$xs} {
    bottom: -45px;
    top: inherit;
    transform: inherit;
  }

  & i {
    background: #ecf8cd;
    height: 60px;
    width: 60px;
    color: #1c1c25;
    line-height: 60px;
    text-align: center;
    border-radius: 4px;
    font-size: 32px;
    cursor: pointer;
    z-index: 2;
    @include transition(0.3s);

    &:hover {
      background: #9edd05;
    }
  }

  &.next_arrow3 {
    left: -80px;

    @media #{$md,$xs} {
      left: 0;
      bottom: -50px;
    }

    @media #{$xs} {
      left: 10px;
      bottom: -50px;
    }
  }

  &.prev_arrow3 {
    right: -60px;

    @media #{$md,$xs} {
      right: 0;
      bottom: -50px;
      left: 80px;
      z-index: 1;
    }
  }
}

.tx-testimonial-active-3 {
  & .slick-dots {
    & li {
      & button {
        display: inline-block;
        background: #52766d;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        text-align: center;
        margin: 0 12px;

        &::before {
          font-family: "slick";
          font-size: 6px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: "•";
          text-align: center;
          opacity: 0.25;
          display: none;
          color: black;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }

    & .slick-active {
      & button {
        background: var(--tx-theme-color-2);
        height: 14px;
        width: 14px;
        z-index: 1;
        position: relative;
        margin: 0 16px;
        background: var(--tx-theme-color-2);

        &:after {
          position: absolute;
          content: "";
          left: -8px;
          top: -8px;
          height: 30px;
          width: 30px;
          background: transparent;
          border-radius: 50px;
          border: 3px solid var(--tx-theme-color-2);
        }
      }
    }
  }
}

.tx-testimonial-slider4 {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;

  .slick-list {
    overflow: inherit;
  }
}

.tx-testim {
  transform: scale(0.9);
  background: #1f5c3c;
  padding: 40px 32px;
  border-radius: 8px;
  color: #e4e4e4;
  transition: 0.3s;

  &.slick-active {
    transform: scale(1);
  }
}

.tx-testimonial-content-icon {
  a {
    margin: 0;
    background: #375a3d;
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    color: #ffba00;
  }
}

.tx-testimonial-content-desc {
  p {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
  }
}

.tx-testimonial-content-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tx-testimonial-content-auth-title {
    span {
      font-size: 16px;
      line-height: 16px;
      color: #ffff;
      opacity: 0.9;
    }
  }
}

.tx-testimonial-slider4 {
  & .slick-dots {
    & li {
      & button {
        display: inline-block;
        background: #52766d;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        text-align: center;
        margin: 0 12px;

        &::before {
          font-family: "slick";
          font-size: 6px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: "•";
          text-align: center;
          opacity: 0.25;
          display: none;
          color: black;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }

    & .slick-active {
      & button {
        background: var(--tx-theme-color-2);
        height: 14px;
        width: 14px;
        z-index: 1;
        position: relative;
        margin: 0 16px;
        background: var(--tx-theme-color-2);

        &:after {
          position: absolute;
          content: "";
          left: -8px;
          top: -8px;
          height: 30px;
          width: 30px;
          background: transparent;
          border-radius: 50px;
          border: 3px solid var(--tx-theme-color-2);
        }
      }
    }
  }
}

.btn-wrap {
  &-4 {
    @media #{$md,$xs} {
      display: flex;
      justify-content: center;
    }

    & button {
      height: 60px;
      width: 60px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -200px;
      font-size: 26px;
      transition: 0.3s;
      color: var(--tx-white);
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);

      @media #{$md,$xs} {
        position: relative;
        left: 0;
        top: 10px;
        transform: translateY(0);
        margin: 0 10px;
      }

      &:hover {
        background: var(--tx-white);
        color: var(--tx-theme-color-3);
        transition: 0.3s;
      }

      &.next-btn {
        left: auto;
        right: -200px;

        @media #{$md,$xs} {
          right: 0;
        }
      }
    }
  }
}

//  home 2

.tx-test-flex {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 40px 32px;
  display: flex;
  align-items: center;
}

.tx-test-thumb {
  margin-right: 48px;
}

.tx-test-thumb img {
  border-radius: 4px;

  @media #{$xs} {
    margin-bottom: 20px;
  }
}

.tx-test-2-act .slick-list {
  overflow: inherit;
}

.slick-slide {
  .tx-test-flex {
    display: flex !important;

    @media #{$xs} {
      display: block !important;
    }
  }
}

.tx-test-icons ul li a {
  border-radius: 4px;
  background: rgba(255, 186, 0, 0.1);
  padding: 4px;
  color: #ffba00;
  margin-right: 2px;
}

.tx-test-icons ul li {
  display: inline-block;
}

.tx-test-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tx-test-aut-content h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding-bottom: 10px;
}

.tx-test-aut-content span {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.tx-test-aut {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slick-current.slick-active .tx-test-flex {
  transform: scale(1);
}

.slick-slide .tx-test-flex {
  transform: scale(0.9);
}

.tx-test-2-act .slick-dots li button {
  background: rgba(255, 255, 255, 0.3);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  position: relative;
}

.tx-test-2-act .slick-dots li.slick-active button:after {
  position: absolute;
  content: "";
  left: -6px;
  top: -6px;
  height: 26px;
  width: 26px;
  border: 2px solid #9edd05;
  border-radius: 50px;
  opacity: 1;
}

.tx-test-2-act .slick-dots li button:before {
  font-size: inherit;
}

.tx-test-2-act .slick-dots {
  bottom: -50px;
}

.tx-test-2-act .slick-dots li.slick-active button {
  background: #9edd05;
  height: 14px;
  width: 14px;
}

.tx-test-flex.testimonial-inner {
  background: #f4f5f8;
}

.tx-test-flex.testimonial-inner .tx-test-content p {
  color: #5f6168;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.tx-test-flex.testimonial-inner .tx-test-aut-content h3 {
  color: #111112;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.tx-test-flex.testimonial-inner .tx-test-aut-content span {
  color: #5f6168;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.tx-test-2-act.tx-testinner .slick-dots li button {
  background: #cbc3ef;
}

.tx-test-2-act.tx-testinner .slick-dots li.slick-active button {
  background: #5038c9;
  height: 14px;
  width: 14px;
}

.tx-test-2-act.tx-testinner .slick-dots li.slick-active button:after {
  position: absolute;
  content: "";
  left: -6px;
  top: -6px;
  height: 26px;
  width: 26px;
  border: 2px solid #5038c9;
  border-radius: 50px;
  opacity: 1;
}

/* Default scale for all slides */

//home 04
.tx-testimonial-active-5 .slick-slide {
  width: 398px !important;
  /* Force slide width */
  height: 100%;
  /* Makes all slides consistent in height */
  margin-left: 40px;
  box-sizing: border-box;
}

.tx-testimonial-active-5 .slick-track {
  display: flex !important;
  align-items: stretch;
  /* Ensures all slides are equal height */
}

.tx-testimonial-active-5 .slick-slide > div {
  height: 100%;
}

.tx-testimonial-active-5 .slick-dots {
  bottom: -38px;
}

.tx-testimonial-active-5 .slick-dots .slick-active button {
  background: var(--tx-gradient-1);
  height: 12px;
  width: 12px;
  z-index: 1;
  position: relative;
}

.tx-testimonial-active-5 .slick-dots .slick-active button:after {
  position: absolute;
  content: "";
  left: -4px;
  top: -4px;
  height: 20px;
  width: 20px;
  background: transparent;
  border-radius: 50px;
  border: 1px solid #9f2df4;
}

.tx-testimonial-active-5 .slick-dots li button {
  background: #292f53;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  display: inline-block;
}

.tx-testimonial-active-5 .slick-dots li button::before {
  font-size: 0;
}

// testimonial home 1
.tx-testimonial {
  .owl-nav {
    position: absolute;
    text-align: left;
    right: 0;
    top: -80px;
    button {
      height: 60px;
      width: 60px;
      border-radius: 50px !important;
      transition: 0.3s;
      @media #{$md,$xs} {
        position: relative;
        right: 0;
        top: 0;
        transform: translateY(0%);
      }
      &:hover {
        background: #fff !important;
        transition: 0.3s;
      }
    }
  }
  .owl-nav [class*="owl-"] {
    margin: 0 0 0 0.325rem;
  }
  .owl-next {
    img {
      transform: rotate(-180deg);
    }
  }
}
